<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width" />

    <!-- jQuery and bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500|Hammersmith+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/solid.css" integrity="sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">

    <!-- fancyBox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>

    <link rel="stylesheet" href="styles.css" />
    <script src="lib/vue.min.js"></script>

    <link rel="icon" type="image/png" href="assets/favicon.png" />
    <title>Anna Fougeras</title>
</head>
<body data-spy="scroll" data-offset="71" data-target="#navbar-scroll">
    <header id="header" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Anna Fougeras</h1>
            <p class="lead">{{ title }}</p>
            <hr class="my-4">
            <p class="header-icons">
                <a href="https://github.com/annafougeras/" target="_blank"><img src="assets/github.png" alt="Github"/></a>
				<a href="https://www.linkedin.com/in/annafougeras/" target="_blank"><img src="assets/in.png" alt="LinkedIn"/></a>
			</p>
        </div>
    </header>
    <nav id="navbar" class="navbar sticky-top navbar-expand-md navbar-dark bg-dark shadow-lg p-3 mb-5">
        <div class="container">
            <a class="navbar-brand" href="#">Anna Fougeras</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-scroll-collapse"
            aria-controls="navbar-scroll-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-scroll-collapse">
                <ul class="navbar-nav mr-auto">
                    <li v-for="(section, sectionID, _) in sections" class="nav-item">
                        <a class="nav-link" :href="'#' + sectionID">{{ section }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" :href="resume.href">{{ resume.title }}</a>
                    </li>
                    <li class="nav-item language d-none d-md-inline">
                        <a class="nav-link" :href="language.href"><img :src="language.flag"/></a>
                    </li>
                    <li class="nav-item d-block d-md-none">
                        <a class="nav-link" :href="language.href">{{ language.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="description">
        <div class="container" v-html="description">
        </div>
    </section>
    <section id="resume" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2><a :href="cvAsset">{{ cvText }}</a></h2>
        </div>
    </section>
    <section id="experience">
        <div class="container">
            <h2>{{ title }}</h2>
            <div class="accordion" id="accordionExperience">
                <div v-for="(exp, index) in experiences" class="card" :key="index">
                    <div class="card-header" :class="{ collapsed: index !== 0 }" :id="exp.id" data-toggle="collapse" :data-target="'#collapse' + exp.id">
                        <div>{{ exp.title }}</div>
                        <div class="text-secondary">{{ exp.year }}</div>
                        <div>
                            <span v-for="skill in exp.skills" class="badge badge-primary">{{ skill }}</span>
                        </div>
                    </div>
                    <div :id="'collapse' + exp.id" class="collapse" :class="{ show: index === 0 }" aria-labelledby="headingOne" data-parent="#accordionExperience">
                        <div class="card-body" v-html="exp.description"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skills" class="jumbotron jumbotron-fluid">
        <div class="container icon-skills">
            <h2>{{ title }}</h2>
            <div v-for="(category, categoryID, _) in categories" class="row align-items-center">
                <div class="col-md-3">
                    <h5>{{ category }}</h5>
                </div>
                <div class="col-md-9">
                    <span v-for="skill in skills[categoryID]" class="icon">
                        <i :class="skill.class" data-toggle="tooltip" :title="skill.title"></i><span>{{ skill.stars }}</span></span>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-3">
                    <h5>{{ languageTitle }}</h5>
                </div>
                <div class="col-md-9">
                    <span v-for="lang in languages" class="icon">
                        <img :src="lang.flag" data-toggle="tooltip" :title="lang.title"></img>
                        <span data-toggle="tooltip" data-placement="bottom" :title="lang.tip">{{ lang.stars }}</span>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section id="projects">
        <div class="container">
            <h2>{{ title }}</h2>
            <div class="accordion" id="accordionProjects">
                <div v-for="(project, index) in projects" class="card">
                    <div class="card-header" :class="{ collapsed: index !== 0 }" :id="project.id" data-toggle="collapse" :data-target="'#collapse' + project.id">
                        <div>{{ project.title }}</div>
                        <div class="text-secondary">{{ project.year }}</div>
                        <div>
                            <span v-for="skill in project.skills" class="badge badge-primary">{{ skill }}</span>
                        </div>
                    </div>
                    <div :id="'collapse' + project.id" class="collapse" :class="{ show: index === 0 }" aria-labelledby="headingOne" data-parent="#accordionProjects">
                        <div class="card-body" v-html="project.description"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <h3><a href="mailto:anna.fougeras@gmail.com">{{ title }}</h3>
            <hr/>
            <p><a href="#">Anna Fougeras</a></p>
            <div>Flag icons designed by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
    </footer>
</body>

<script src="js/scroll.js"></script>
<script src="js/locale.js"></script>

<script src="js/header.js"></script>
<script src="js/navbar.js"></script>
<script src="js/description.js"></script>
<script src="js/resume.js"></script>
<script src="js/experience.js"></script>
<script src="js/skills.js"></script>
<script src="js/projects.js"></script>
<script src="js/footer.js"></script>